.footer {
  background-color: #1a1a1a !important;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 7rem;
}

.social-reseaux {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
}
