/* .background {
  background-image: url(backgroundImage.jpg);
  height: 90vh;
  opacity: 0.33;
} */
.title {
  padding-top: 2rem;
  padding-bottom: 2rem;
  letter-spacing: 2px;
}
.description {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  letter-spacing: 1px;
  margin-top: 5rem;
}

.contact {
  color: white;
  letter-spacing: 2px;
  width: 20rem;
  height: 3rem;

  margin-top: 8rem;
  margin-bottom: 8rem;
  background-color: #e6cd1b;
  border-color: #e6cd1b;
}
.contact:hover {
  background-color: #eaac1c;
  border-color: #eaac1c;
}

.all-photo-link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 10%;
  margin-left: 10%;
}
.img {
  cursor: pointer;
}

.img:hover {
  opacity: 0.5;
}

.technos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 5%;
  margin-left: 5%;
}
.card-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: justify; */
  height: 22rem;
  width: 26rem;
  padding-right: 2rem;
  padding-left: 2rem;
  letter-spacing: 1px;
}
